.main{
    width: 100vw;
    height: 100vh;
    background: #f7f7f7;
    padding-top: 4vh;
}
.main ul{
    width: 90vw;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
}
.main ul li{
    width: 90vw;
    padding-left: 3vw;
    height: 10vh;
    border-bottom: 1px solid #333;
}
.main ul li *{
    float: left;
}
.main ul li a{
    width: 80vw;
    height: 100%;
    color: #333;
    line-height: 10vh;
}
.main ul li img{
    width: 4vw;
    height: 4vw;
    margin-top: 3vh;
}
.main .list1{
    height: 40vh;
}
.main .list2{
    height: 20vh;
    margin-top: 4vh;
}
.main input{
    background: #de215b;
    width: 90vw;
    display: block;
    margin: 3vh auto 0;
    height: 10vh;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.4rem;
}